@media (max-width: 1200px) {
    .sect-2-block {
        padding: 20px 17px;
    }

    /* ----------section-3---------- */

    .sect-3-block {
        width: 32%;
    }

    /* ----------section-4---------- */

    .section-4 {
        padding-bottom: 220px;
    }

    .sect-4-firms {
        display: flex;
        max-width: 500px;
        margin-top: 40px;
    }

    .sect-4-function {
        left: 43px;
    }

    .sect-4-item {
        width: auto;
    }

    /* -----------section-5------------ */

    .sect-5-block {
        width: 32%;
    }

    /* ----------section-6---------- */

    .sect-6-block {
        max-width: 300px;
        padding: 83px 15px 29px 15px;
    }

}

@media (max-width: 1150px) {
    .sect-7-text {
        display: none;
    }

    .sect-7-diagrama-list {
        width: 500px;
    }
}

@media (max-width: 1050px) {
    .sect-6-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around;
    }

    .sect-6-block {
        margin-bottom: 70px;
    }
}


@media (max-width: 1000px) {
    .header-list {
        width: 390px;
    }

    .section-1-text {
        max-width: 400px;
    }

    .section-1-photo {
        width: 250px;
    }

    /* ----------section-2---------- */

    .sect-2-wrapper {
        flex-direction: column;
        margin-top: 70px;
        align-items: center;
    }

    .sect-2-block {
        width: 60%;
        margin-bottom: 15px;

    }

    /* ----------section-5---------- */

    .sect-5-block-title {
        margin: 0 auto 100px;
    }

    .sect-5-wrapper {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sect-5-block {
        width: 288px;
    }

    /* ----------section-7---------- */

    .sect-7-diagrama-list {
        width: 320px;
    }
}

@media (max-width: 900px) {
    .section-8-wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .sect-8-item {
        margin-bottom: 35px;
    }

    .sect-8-form {
        width: 100%;
    }

    .sect-8-form-message {
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .header-button-block {
        display: none;
    }

    .section-1 {
        position: relative;
        padding: 100px 0;
    }

    .section-1-right-block {
        position: absolute;
        top: 219px;
    }

    .section-1-title {
        margin-bottom: 365px;
    }

    .section-1-text {
        max-width: 800px;
    }

    /* ----------section-3---------- */

    .sect-3-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .sect-3-block {
        width: auto;
    }

    /* ----------section-4---------- */

    .section-4 {
        padding-bottom: 280px;
        padding-top: 70px;
    }

    .sect-4-firms {
        display: none;
    }

    .sect-4-function {
        left: 8px;
        top: 190px;
        max-width: 400px;
    }

    /* ----------sect-5---------- */

    .section-5 {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    /* ----------sect-6---------- */

    .section-6 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .sect-6-block-title {
        margin-bottom: 120px;
    }


    /* ----------sect-7---------- */

    .section-7 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .sect-7-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    /* ----------sect-8---------- */

    .section-8 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 650px) {
    .header-logo {
        display: none;
    }

    .container.header-wrapper {
        justify-content: center;
        padding: 15px;
    }

    /* ----------section-2---------- */

    .sect-2-block {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-link {
        font-size: 14px;
    }

    .section-1 {
        padding: 50px 0;
    }

    .section-1-right-block {
        top: 190px;
        left: 13%;
    }

    .section-1-text {
        font-size: 14px;
        line-height: 1.7;
    }

    .section-1-photo {
        width: 230px;
    }

    /* ---------section-2---------- */

    .section-2 {
        padding: 50px 0;
    }

    /* ----------section-3---------- */

    .section-3 {
        padding: 50px 0;
    }

    .sect-3-wrapper {
        margin-top: 100px;
    }

    .sect-3-block {
        margin-bottom: 30px;
    }

    /* ---------sect-7---------- */

    .sect-7-diagrama-list {
        width: 280px;
    }
}

@media (max-width: 400px) {
    .sect-3-title-h2 {
        font-size: 30px;
        line-height: 1.5;
    }

    /* ----------section-4---------- */

    .sect-4-function {
        padding-right: 10px;
    }

    .sect-4-function-item {
        font-size: 14px;
        line-height: 1.5;
    }

    /* ----------section-6---------- */
    .sect-6-text {
        font-size: 14px;
    }

}